.feynman {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}
